[Unit]
Description=TrinityCore Authentication Server

[Service]
Type=forking
WorkingDirectory=/root/serverSingleCore
User=root

ExecStart=/usr/bin/screen -dmS authserver /root/serverSingleCore/bin/authserver

ExecReload=/usr/bin/killall -w -s 15 authserver; /usr/bin/screen -dmS authserver /root/serverSingleCore/bin/authserver

ExecStop=/usr/bin/killall -w -s 15 authserver
RestartSec=10s

Restart=always


[Install]
WantedBy=multi-user.target
