[Unit]
Description=TrinityCore World Server

[Service]
Type=forking
WorkingDirectory=/root/serverSingleCore/bin
User=root

ExecStart=/usr/bin/screen -dmS worldserver /root/serverSingleCore/bin/worldserver

ExecReload=/usr/bin/killall -w -s 15 worldserver; /usr/bin/screen -dmS worldserver /root/serverSingleCore/bin/worldserver

ExecStop=/usr/bin/killall -w -s 15 worldserver
RestartSec=10s

Restart=always


[Install]
WantedBy=multi-user.target
